<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo" commit-id="@commit-id@" commit-time="@commit-time@">
    <description>Geospatial History of U.S. Foreign Relations</description>
    <author>Joe Wicentowski</author>
    <website>https://history.state.gov</website>
    <status>alpha</status>
    <license>GNU-LGPL</license>
    <copyright>true</copyright>
    <type>application</type>
    <target>gsh</target>
    <prepare>pre-install.xql</prepare>
    <finish>post-install.xql</finish>
    <permissions xmlns:repo="http://exist-db.org/xquery/repo" password="" user="gsh-admin" group="gsh-admin" mode="rw-rw-r--"/>
    <changelog>
        <change version="0.1.0">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Initial version</li>
            </ul>
        </change>
        <change xmlns:repo="http://exist-db.org/xquery/repo" version="0.2.0">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Major update to territories data</li>
            </ul>
        </change>
        <change xmlns:repo="http://exist-db.org/xquery/repo" version="0.3.0">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Final territories data by 2015 academic year VSFS e-interns</li>
            </ul>
        </change>
        <change xmlns:repo="http://exist-db.org/xquery/repo" version="0.4.0">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Added old country data to assist with migration</li>
            </ul>
        </change>
        <change xmlns:repo="http://exist-db.org/xquery/repo" version="0.4.1">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Deduplicate locale ids</li>
            </ul>
        </change>
    </changelog>
</meta>